<h1>Github Repositories Search</h1>

<label class="mt-2">
  <span>Repository name:</span>
  <input type="text" [ngModel]="''" (ngModelChange)="onTextChange($event)"/>
</label>

<div *ngIf="searchResult$ | async as searchResult">
  <h2>Repositories</h2>
        <table class="table table-striped ">
          <thead>
            <tr>
              <th scope="col" >ID</th>
              <th scope="col">Owner</th>
              <th scope="col">Name</th>
              <th scope="col">Forks</th>
              <th scope="col">Open issues</th>
              <th scope="col">Stargazers</th>
              <th scope="col">Url</th>
              <th scope="col">Description</th>
              <th>Select Issue</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of searchResult.items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              <td>{{ result.id }}</td>
              <td>{{ result.owner.login }}</td>
              <td>{{ result.name }}</td>
              <td>{{ result.forks }}</td>
              <td>{{ result.open_issues }}</td>
              <td>{{ result.stargazers_count }}</td>
              <td>{{ result.html_url }}</td>
              <td>{{ result.description }}</td>
              <td><button [routerLink]="['/issues', result.id]" >Select</button></td>
              <!-- <td><button (click)="detailRepositories(result.id)" >Select</button></td> -->
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          
            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
              <option [ngValue]="10">10 items per page</option>
              <option [ngValue]="20">20 items per page</option>
              <option [ngValue]="50">50 items per page</option>
              <option [ngValue]="100">100 items per page</option>
            </select>
          </div>
</div>
